.apikeyform__title {
  width: fit-content;
  margin: 0 auto 32px auto;
  margin-bottom: 32px;
  color: colors(sumi);
}

.apikeyform__textfield {
  width: fit-content;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.apikeyform__button {
  width: fit-content;
  margin: 0 auto;
}