@use "../common" as *;

.articlecard {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 196px;
  margin: 24px auto 0px auto;
  padding: 24px 0px;
  border-radius: 40px;
  background-color: colors(white);
}

.articlecard__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 64px;
}

.articlecard__right {
  width: 40%;
  margin-top: 5px;
  margin-right: 64px;
  margin-left: 24px;
}

.articlecard__title {
  font-weight: bold;
  font-size: rem(32);
}

.articlecard__date {
  font-size: rem(18);
}

.skeleton {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 196px;
  margin: 24px auto 0px auto;
  padding: 24px 0px;
  border-radius: 40px;
  background-color: colors(white);
}

.skeleton__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 64px;
}

.skeleton__wrapper {
  width: 100%;
}

.skeleton__right {
  width: 80%;
  height: 24px;
  margin-top: 16px;
  margin-left: 48px;
  border-radius: 12px;

  @include loading;
}

.skeleton__title {
  width: 360px;
  height: 48px;
  border-radius: 24px;

  @include loading;
}

.skeleton__date {
  width: 120px;
  height: 24px;
  margin-top: 16px;
  border-radius: 12px;
  @include loading;
}