@use '../common' as *;

// FIXME: CSS名の命名を統一
.storybook-button {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  border: 0;
  border-radius: 17%/50%;
  @include fonts();
  &:focus {
    outline: none;
    border: solid 2px colors(warning);
  }
}
.storybook-button--primary {
  color: colors(white);
  background-color: colors(purple);
  &:hover {
    background-color: colors(purple, tertiary);
  }
}
.storybook-button--secondary {
  color: colors(purple);
  background-color: colors(white);
  border: solid 1px colors(purple, secondary);
  &:hover {
    background-color: colors(purple, 100);
  }
}
.storybook-button--disabled {
  color: colors(sumi, 100);
  cursor: not-allowed;
  background-color: colors(sumi, 300);
}
.storybook-button--small {
  width: 90px;
  height: 30px;
  font-size: rem(12);
}
.storybook-button--medium {
  width: 120px;
  height: 40px;
  font-size: rem(15);
}
.storybook-button--large {
  width: 180px;
  height: 60px;
  font-size: rem(18);
  border-width: 2px;
}
