@use "../common" as *;

.detailedsearchform__title {
  color: colors(sumi);
  width: fit-content;
  margin: 0 auto;
}

.detailedsearchform__textboxes {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: 48px auto 0 auto;
}

.detailedsearchform__ranges {
  display: flex;
  justify-content: space-between;
  width: 720px;
  margin: 32px auto 0 auto;
}

.detailedsearchform__range {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.detailedsearchform__rangename {
  color: colors(sumi, 600);
  font-size: rem(15);
}

.detailedsearchform__tag {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin: 32px auto 0 auto;
}

.detailedsearchform__buttons {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 128px auto 0 auto;
}