@use '../common' as *;

.detailedarticle {
  padding: 1px 0;
  background-color: colors(purple, bg);
  min-height: 100vh;

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__back {
    width: 90%;
    margin: 32px auto;
  }
  &__wrapper {
    width: calc(90% - 128px);
    padding: 64px;
    margin: 0 auto;
    background-color: colors(white);
    border-radius: 40px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__title {
    width: 80%;
    font-size: rem(36);
    font-weight: bold;
    color: colors(sumi);
  }

  &__tags {
    display: flex;
    margin-bottom: 32px;
  }
  &__tagwrapper {
    padding-right: 8px;
  }
  &__info {
    display: flex;
    margin-bottom: 16px;
  }

  &__times {
    margin-right: 32px;
    font-size: rem(15);
    color: colors(sumi);
  }

  &__icons {
    display: flex;
    margin-bottom: 48px;
  }

  &__icon {
    display: flex;
    margin-right: 16px;
    font-size: rem(15);
    color: colors(sumi, 600);
  }

  &__divider {
    width: 100%;
    margin-bottom: 48px;
  }

  &__body {
    font-size: rem(18);
    color: colors(sumi);
    img {
      max-width: 90%;
    }

    div {
      div {
        @include fonts(400, source);
        code {
          @include fonts(400, source);
        }
      }
    }
  }
}
