@use '../common' as *;

.detailedarticle {
  min-height: 100vh;
  padding: 1px 0;
  background-color: colors(purple, bg);
}

.detailedarticle__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailedarticle__back {
  width: 90%;
  margin: 32px auto;
}

.detailedarticle__wrapper {
  width: calc(90% - 128px);
  margin: 0 auto;
  padding: 64px;
  border-radius: 40px;
  background-color: colors(white);
}

.detailedarticle__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.detailedarticle__title {
  width: 80%;
  color: colors(sumi);
  font-weight: bold;
  font-size: rem(36);
}

.detailedarticle__button {
  margin-top: 32px;
}

.detailedarticle__tags {
  display: flex;
  margin-bottom: 32px;
}

.detailedarticle__tagwrapper {
  padding-right: 8px;
}

.detailedarticle__info {
  display: flex;
  margin-bottom: 16px;
}

.detailedarticle__times {
  margin-right: 32px;
  color: colors(sumi);
  font-size: rem(15);
}

.detailedarticle__icons {
  display: flex;
  margin-bottom: 48px;
}

.detailedarticle__icon {
  display: flex;
  margin-right: 16px;
  color: colors(sumi, 600);
  font-size: rem(15);
}

.detailedarticle__divider {
  width: 100%;
  margin-bottom: 48px;
}

.detailedarticle__body {
  color: colors(sumi);
  font-size: rem(18);
}

.detailedarticle__body img {
  max-width: 90%;
  max-height: 600px
}

.detailedarticle__body div div {
  @include fonts(400, source);
}

.detailedarticle__body div div code {
  @include fonts(400, source);
}
