@use '../common' as *;

.home {
  min-height: calc(100vh - 24px);
  padding-bottom: 24px;
  background-color: colors(purple, bg);
}

.home__title {
  padding-top: 64px;
  font-size: rem(64);
  text-align: center;
  color: colors(sumi);
}

.home__subtext {
  color: colors(sumi, 420);
  font-size: rem(24);
  margin: 16px auto 0 auto;
  width: fit-content;
}

.home__form {
  text-align: center;
}

.home__textbox {
  margin-top: 13vh;
  margin-bottom: 16px;
}

.home__iconbutton {
  color: colors(sumi, 900);
}

.home__blink {
  animation: blink 1s infinite;
}

.home__options {
  margin-bottom: 16px;
}

.home__search {
  margin-bottom: 64px;
}

.home__articles {
  width: 100%;
}

@keyframes blink {
  0% {
    color: colors(sumi, 420);
  }
  50% {
    color: colors(error);
  }
  100% {
    color: colors(sumi, 420);
  }
}
