@use '../common' as *;

.home {
  min-height: calc(100vh - 24px);
  padding-bottom: 24px;
  background-color: colors(purple, bg);

  &__title {
    padding-top: 64px;
    font-size: rem(64);
    text-align: center;
    color: colors(sumi);
  }

  &__subtext {
    color: colors(sumi, 420);
    font-size: rem(24);
    margin: 16px auto 0 auto;
    width: fit-content;
  }

  &__form {
    text-align: center;
  }

  &__textbox {
    margin-top: 13vh;
    margin-bottom: 16px;
  }

  &__iconbutton {
    color: colors(sumi, 900);
  }

  &__blink {
    animation: blink 1s infinite;
  }

  &__options {
    margin-bottom: 16px;
  }

  &__search {
    margin-bottom: 64px;
  }
  &__articles {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    color: colors(sumi, 420);
  }
  50% {
    color: colors(error);
  }
  100% {
    color: colors(sumi, 420);

  }
}
