@use '../common' as *;

.linktext {
  font-size: rem(18);
  color: colors(purple);
  text-decoration: underline;
}

.linktext__disabled {
  font-size: rem(18);
  color: colors(sumi, 600);
  cursor: not-allowed;
  text-decoration: underline;
}
