@use '../common' as *;

.storybook-maintextbox {
  width: 720px;
  height: 80px;
  padding: 0px 40px 0px 40px;
  font-size: rem(18);
  color: colors(sumi, 600);
  letter-spacing: 0.05em;
  background-color: colors(white);
  border: none;
  border-radius: 5.5%/50%;
  @include fonts();
  &::placeholder {
    color: colors(sumi, 420);
  }
  &:focus {
    outline: none;
    border: solid 1.5px colors(purple, secondary);
  }
}

.storybook-maintextbox--error {
  //
}
.storybook-maintextbox--disabled {
  //
}
