@use '../common' as *;

.storybook-maintextbox {
  width: 720px;
  height: 80px;
  padding: 0px 40px 0px 40px;
  font-size: rem(18);
  color: colors(sumi, 600);
  letter-spacing: 0.05em;
  background-color: colors(white);
  border: none;
  border-radius: 5.5%/50%;
  @include fonts();
}

.storybook-maintextbox--error {
  //
}
.storybook-maintextbox--disabled {
  //
}
