@use "../common" as *;

.paging {
  display: flex;
  justify-content: space-around;
  width: 362px;
  height: 64px;
  margin: 48px auto;
  border-radius: 32px;
  background-color: colors(white);
  line-height: 64px;
}

.paging__page {
  color: colors(purple);
  font-size: rem(18);
}