@use "../common/colors";


.tag {
  background-color: colors.colors(purple, bg);
  color: colors.colors(purple);
  padding: 4px 20px;
  border-radius: 19px; // 30px/2 + 4px
  height: 24px;
  font-size: 15px;
}