@use "../common" as *;

.textbox {
  height: 78px;

  &__body {
    width: 240px;
    height: 40px;
    padding: 0 16px;
    font-size: rem(18);
    color: colors(sumi, 600);
    border: solid 1.5px colors(sumi, 600);
    border-radius: 20px;
    @include fonts();
    &::placeholder {
      color: colors(sumi, 420);
    }
    &:focus {
      outline: none;
      border: solid 1.5px colors(purple, secondary);
    }
  }

  &__label {
    font-size: rem(12);
    color: colors(sumi, 600);
  }

  &__required {
    font-size: rem(12);
    color: colors(error);
  }
  &__error {
  }

  &__errortext {
    font-size: rem(12);
    color: colors(error);
  }
}