.textbox {

  &__body {
    width: 240px;
    height: 40px;
    border-radius: 20px;
    border: solid 1.5px #949494;
    padding: 0 16px;
    font-size: 18px;
    color: #666;
  }

  &__required {
    color: #ec0000;
    margin-left: 16px;
    // background-color: pink;
    font-size: 12px;
  }
  &__error {
  }

  &__errortext {
    margin-left: 16px;
    color: #ec0000;
    font-size: 12px;
  }
}