@use '../common' as *;

.userinfo {
  display: flex;
}

.userinfo__right {
  display: grid;
  align-items: center;
  justify-items: start;
  height: 100%;
  margin-left: 16px;
}

.userinfo__icon {
  border-radius: 50%;
}

.userinfo__organization {
  color: colors(sumi);
  font-size: rem(18);
}

.userinfo__name {
  font-size: rem(18);
}

.skeleton {
  display: flex;
}

.skeleton__right {
  display: grid;
  align-items: center;
  justify-items: start;
  margin-left: 16px;
}

.skeleton__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  @include loading;
}

.skeleton__organization {
  color: colors(sumi);
}

.skeleton__name {
  width: 150px;
  height: 24px;
  border-radius: 12px;
  @include loading;
}
