@charset "utd-8";

@use "common" as *;

html {
  font-family: 'Noto Sans', 'Noto Sans JP';
}

a {
  color: colors(sumi);
  text-decoration: none;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  font-size: rem(28);
  margin-bottom: 0;

}

h4 {
  font-size: rem(24);
  margin-bottom: 0;
}

h5 {
  font-size: rem(20);
  margin-bottom: 0;
}

h6 {
  font-size: rem(18);
  margin-bottom: 0;
}