@charset "utd-8";

@use "common" as *;

html {
  font-family: 'Noto Sans', 'Noto Sans JP';
}

a {
  color: colors(sumi);
  text-decoration: none;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}