@use 'colors' as *;


@mixin loading {
  background-image: linear-gradient(90deg, colors(sumi, 100) 0%, colors(sumi, 100) 5%, colors(white) 50%, colors(sumi, 100) 5%, colors(sumi, 100) 100%);
  background-size: 150% 100%;
  background-repeat: no-repeat;
  background-color: colors(sumi, 100);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 150% 0;
  }
  100% {
    background-position: -150% 0;
  }
}